/*import */
@import './variables';
@import './function';
/*General parameters*/
html {
  font-size: 62.5%;
}
body {
  display: grid;
  height: auto;
  place-items: center;
  margin: 0;
  margin-top: 5rem;
  font-family: $font-inter;
  text-align: center;
  background-color: $color-very-dark-blue;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Typography*/
ul {
  list-style: none;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.25;
}
h1 {
  margin-top: 1.9rem;
  font-size: 1.9rem;
  color: $color-white;
  span {
    color: $color-soft-violet;
  }
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 1.2rem;
}
/*pc version*/
@media screen and (min-width: 864px) {
  h1 {
    font-size: 2.9rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*container*/
.container {
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 35% 65%;
  margin: 0 5vw;

  background-color: $color-dark-desaturated-blue;
  border-radius: 8px;
  overflow: hidden;

  picture {
    position: relative;
    overflow: hidden;
  }
  picture::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-soft-violet;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.45;
    filter: brightness(80%);
    filter: contrast(180%);
  }
  .banner {
    @include imagefit(cover);
    z-index: -1;
  }

  .text-content {
    padding: 0 1.7rem;
    display: grid;
    justify-content: space-between;
  }
  p {
    color: $color-slightly-transparent-white;
    word-spacing: 1.9px;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1.15rem;
  }
  .number {
    display: flex;
    flex-direction: column;
    margin: 1.3rem auto;

    .num {
      font-size: 1.6rem;
      color: $color-white;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 1rem 1rem;
    }
    .number-text {
      font-family: $font-lexend-deca;
      font-weight: 400;
      color: $color-slightly-transparent-white-two;
      display: inline-block;
      font-size: 0.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
@media screen and (min-width: 864px) {
  body {
    height: 95vh;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 39rem;
    max-width: 95rem;
    text-align: left;
    justify-content: space-between;

    picture {
      order: 1;
    }
    .text-content {
      padding: 3rem 6rem;
      h1 {
        max-width: 20ch;
        line-height: 1.4;
      }
      p {
        font-size: 1.3rem;
        margin-bottom: 5rem;
        line-height: 1.8;
        max-width: 40ch;
      }
    }
    .number {
      display: flex;
      flex-direction: row;
      justify-content: left;
      column-gap: 2rem;
      margin: auto 0;
      .num {
        font-size: 2rem;
      }
      .number-text {
        font-size: 1rem;
      }
    }
  }
}
@media screen and (min-width: 500px) and (max-width: 864px) {
  .container {
    display: grid;
    grid-template-columns: 45vw;
    grid-template-rows: 35% 65%;
    margin: 0 22vw;
  }
}
