/*import */ /*variables

/*### Primary*/
/*### Neutral*/
/*FONTS*/
/*General parameters*/
html {
  font-size: 62.5%;
}

body {
  display: grid;
  height: auto;
  place-items: center;
  margin: 0;
  margin-top: 5rem;
  font-family: "Inter", sans-serif;
  text-align: center;
  background-color: hsl(233deg, 47%, 7%);
  overflow: scroll;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Typography*/
ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.25;
}

h1 {
  margin-top: 1.9rem;
  font-size: 2.2rem;
  color: hsl(0deg, 0%, 100%);
}
h1 span {
  color: hsl(277deg, 64%, 61%);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  font-size: 1.2rem;
}

/*pc version*/
@media screen and (min-width: 864px) {
  h1 {
    font-size: 2.9rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
/*container*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 0.7fr);
  margin: 0 2vw;
  border-radius: 8px;
  overflow: hidden;
}
.container picture {
  background-image: url(/images/image-header-desktop.jpg);
  background-color: hsl(277deg, 64%, 61%);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.container .text-content {
  padding: 0 1.7rem;
  background-color: hsl(244deg, 38%, 16%);
  display: grid;
  justify-content: space-between;
}
.container p {
  color: hsla(0deg, 0%, 100%, 0.75);
  word-spacing: 1.9px;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.container .number {
  display: flex;
  flex-direction: column;
  margin: 1.3rem auto;
}
.container .number .num {
  font-size: 1.6rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem 1rem;
}
.container .number .number-text {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: hsla(0deg, 0%, 100%, 0.6);
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (min-width: 864px) {
  body {
    height: 95vh;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 39rem;
    max-width: 95rem;
    text-align: left;
    justify-content: space-between;
  }
  .container picture {
    order: 1;
  }
  .container .text-content {
    padding: 3rem 6rem;
  }
  .container .text-content h1 {
    max-width: 20ch;
    line-height: 1.4;
  }
  .container .text-content p {
    font-size: 1.3rem;
    margin-bottom: 5rem;
    line-height: 1.8;
    max-width: 40ch;
  }
  .container .number {
    display: flex;
    flex-direction: row;
    justify-content: left;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin: auto 0;
  }
  .container .number .num {
    font-size: 2rem;
  }
  .container .number .number-text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 864px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 331px;
  }
}/*# sourceMappingURL=style.css.map */